div.collapsible table.sticky-header th,
h4.collapsible.collapsed {
    color: #AAA;
    border-bottom: 2px solid #BBB;
    padding-bottom: 5px;
    margin-bottom: 20px;
}
div.collapsible.collapsed { display: none; }
table.sticky-header {
    top: 20px !important;
}
